extends layout 

include mixins/_head
include mixins/_head-end

block head 
  title Szénási Ágnes | Adatvédelmi tájékoztató
  +head
  +headEnd

block content
  main.section
    .privacy--wrapper
      h1.title.title__center Adatvédelmi tájékoztató
      p.text__bold Kedves Látogató!
      p.last-p Az adatvédelmi tájékoztató célja, hogy Szénási Ágnes EV. (a továbbiakban: Szolgáltató) weboldalának (a továbbiakban: Honlap) látogatóit tájékoztassa a Honlapon megadott személyes adatok kezeléséről, valamint a látogatók adatvédelmi jogairól és azok érvényesítési lehetőségeiről.
      h2.title.text__brand 1. Az adatkezelő adatai
      div.last-p
        p <span class="text__bold">Név:</span> Szénási Ágnes EV. 
        p <span class="text__bold">Székhely:</span> 1031 Budapest, Amfiteátrum utca 23.
        p <span class="text__bold">Email:</span> agi.szenasi321@gmail.com 
        p <span class="text__bold">Telefon:</span> +36 30 285 7034
      h2.title.text__brand 2. Az adatkezelés célja és jogalapja
      p Az adatkezelés célja a Honlap látogatóinak tájékoztatása, valamint a Szolgáltatóval való kapcsolatfelvétel biztosítása.
      p.last-p A személyes adatok kezelésének jogalapja az érintettek önkéntes hozzájárulása, amelyet a látogatók a kapcsolatfelvétel során adnak meg.
      h2.title.text__brand 3. Kezelt adatok köre
      p A Honlap látogatása során a következő személyes adatok kerülhetnek kezelésre:
      ul
        li Honlap használatával kapcsolatos adatok (pl. IP-cím, látogatás időpontja, böngésző típusa) a Google Analytics és Google Ads szolgáltatásokon keresztül.
      p Kapcsolatfelvétel során megadott adatok:
      ul.last-p
        li Név (amennyiben a látogató megadja)
        li E-mail cím
        li Telefonszám (amennyiben a látogató megadja)
        li A kapcsolatfelvétel során küldött üzenet tartalma
      h2.title.text__brand 4. Az adatok felhasználása
      p.last-p A kapcsolatfelvétel során megadott személyes adatokat kizárólag a látogatóval való kommunikáció céljából használjuk fel, és csak annyi ideig tároljuk, ameddig az szükséges a kapcsolattartás lebonyolításához, illetve a jogszabályi kötelezettségek teljesítéséhez.
      h2.title.text__brand 5. A sütik (cookie-k) használata
      p.last-p A Honlap Google Analytics és Google Ads sütiket használ a látogatói élmény javítása, a weboldal forgalmának elemzése és hirdetések személyre szabása érdekében. A sütik használatához a látogatók előzetes hozzájárulása szükséges, amelyet a Honlap betöltődésekor megjelenő süti engedélyezési sávban adhatnak meg.
      h2.title.text__brand 6. Az adatok megőrzésének időtartama
      p.last-p A Google Analytics és Google Ads által gyűjtött adatokat a Google szolgáltatásaira vonatkozó adatvédelmi szabályzatokban meghatározott ideig őrizzük meg. A kapcsolatfelvétel során megadott adatokat a kommunikáció lezárultát követően legfeljebb 1 évig őrizzük meg, kivéve, ha jogszabály hosszabb megőrzési időt ír elő.
      h2.title.text__brand 7. Az érintettek jogai
      p Az érintettek jogosultak:
      ul
        li Tájékoztatást kérni az adatkezelésről
        li Hozzáférni a kezelt adatokhoz
        li Helyesbíteni a pontatlan személyes adatokat
        li Törölni a személyes adatokat (az „elfeledtetéshez való jog”)
        li Korlátozni az adatkezelést
        li Tiltakozni az adatkezelés ellen
        li Adathordozhatósághoz való jogukat gyakorolni
      p.last-p Az érintettek jogorvoslati lehetőséggel élhetnek a Nemzeti Adatvédelmi és Információszabadság Hatóságnál (NAIH).
      h2.title.text__brand 8. Adatbiztonság
      p A Szolgáltató megfelelő technikai és szervezési intézkedésekkel védi a személyes adatokat az illetéktelen hozzáférés, a megváltoztatás, a nyilvánosságra hozatal vagy a törlés ellen. Ezek az intézkedések a következőket tartalmazzák:
      ul.last-p
        li A weboldal HTTPS titkosítást használ az adatátvitel védelme érdekében.
        li A kapcsolatfelvétel során megadott személyes adatokhoz való hozzáférés jelszóval védett és csak a Szolgáltató számára elérhető.
        li Az email kommunikáció biztonságos, jelszóval védett email fiókon keresztül történik.
      h2.title.text__brand 9. Kapcsolatfelvétel
      p Amennyiben kérdése vagy észrevétele van az adatkezeléssel kapcsolatban, kérjük, lépjen kapcsolatba velünk az alábbi elérhetőségek egyikén:
      div
        p Email: 
          a.privacy--link(href="mailto:agi.szenasi321@gmail.com") agi.szenasi321@gmail.com
        p Telefon:  
          a.privacy--link(href="tel:36302857034") +36 30 285 7034
      p Ez az Adatvédelmi tájékoztató a Honlap működésének részét képezi, és annak változásairól a látogatók a Honlapon keresztül értesülhetnek.
      
