extends layout 

include mixins/_head
include mixins/_head-end

block head 
  meta(name="description" content="Fedezd fel az autogén tréning jótékony hatásait velem. Relaxációs technikák a stressz csökkentésére.")
  title Szénási Ágnes | Autogén tréning
  +head 
  link(rel="preload" fetchpriority="high" as="image" href="/images/photos/wide-meditating.webp" type="image/webp")
  +headEnd
block content
  main
    picture.img-background 
      source(srcset="/images/photos/wide-meditating.webp", type="image/webp")
      img.img__fullwidth.crop-top(src="/images/photos/wide-meditating.jpg", alt="Autogén tréning")
    .section.article--wrapper
      article.article__detailed
        h2.title.title__center.text__brand.article__detailed--title Mi az autogén tréning?
        .article__detailed--content
          p Az autogén tréning egy tudományos alapokon nyugvó relaxációs módszer, ami az izmok ellazításán keresztül hat, szervezetünket nyugalmi állapotba hozza. A technika elsajátítása után te is képes leszel a mindennapokban gyakorolni, és tapasztalni fogod a rendszeres gyakorlás következtében jelentkező pozitív hatásokat.
        h2.title.title__center.text__brand.article__detailed--title Pozitív hatásai
        .article__detailed--content
          p A speciális relaxációs módszer hatására kiegyensúlyozottabb leszel, belső harmóniára találsz, nehezebb lesz kizökkenteni a nyugalmi állapotodból, és jobban kezeled a stresszt. A szorongás csökkenésének, a kiegyensúlyozott lelki állapotnak hosszú távon fizikai vonatkozásai is lesznek: 
          ul.article--list.align-left 
            li az immunrendszer erősödik, 
            li a szervezet ellenállóbbá válik, 
            li könnyebben tudsz koncentrálni, 
            li jobban alszol, kipihentebbnek érzed magadat 
            li és optimalizálódik a vérnyomásod. 
          p Az autogén tréning kimondottan hatékony az önbizalom, önbecsülés, az élettel való elégedettség, valamint az akaraterő, önkontroll és énhatékonyság növelésére is, így segíthet a kitűzött céljaid hatékonyabb megvalósításában.
        h2.title.title__center.text__brand.article__detaied--title Hogyan tudod elsajátítani ezt a módszert?
        .article__detailed--content
          p A technika elsajátításához körülbelül 12-14 találkozóra, illetve napi 10-15 perces önálló gyakorlása van szükség. Az egy órás, heti rendszerességű találkozók az oktatóval való gyakorlásból és élményfeldolgozó beszélgetésből állnak, valamint önismereti kérdések, témák feldolgozásával egészülnek ki.
        .buttons--wrapper
          a.btn.btn__primary(href="/kapcsolat") Kérj Időpontot 
          a.btn.btn__hollow(href="/") Vissza a kezdőlapra