extends layout 

include mixins/_head

block head 
  meta(name="description" content="Lépj kapcsolatba velem és tájékozódj szolgáltatásaim árazásáról. Egyszerű elérhetőség és kedvező árak.")
  title Szénási Ágnes | Kapcsolat
  +head 
block content
  main.section.contacts--wrapper
    .article__contacts
      h1.title.title__center.article__contacts--title Elérhetőségek
      .contacts
        .icon-text--wrapper 
          i.contact--icon.fa-regular.fa-envelope
          a.contact--link(href="mailto:agi.szenasi321@gmail.com") agi.szenasi321@gmail.com
        .icon-text--wrapper
          i.contact--icon.fa-solid.fa-phone
          a.contact--link(href="tel:+36302857034") +36 30 285 7034
        .icon-text--wrapper 
          i.contact--icon.fa-solid.fa-location-dot
          p 1132 Budapest, Kresz Géza utca 39.
      iframe.contact--map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2694.675782694065!2d19.055509676859224!3d47.51570497118151!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dc0bb2dae7dd%3A0x74d5b9b2d3aa120!2sBudapest%2C%20Kresz%20G%C3%A9za%20u%2039%2C%201132!5e0!3m2!1shu!2shu!4v1715874299601!5m2!1shu!2shu"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")
    .article__contacts 
        h2.title.title__center.article__contacts--title Árak
        .prices
          p 1 óra személyesen 13000 Ft
          p 1 óra online 9000 Ft
        h2#konzultacio.title.title__center.article__contacts--title Ingyenes konzultáció
        p.free-consult  Ha kérdésed van az autogén tréninggel vagy a tanácsadással kapcsolatban, vedd igénybe díjmentes 30 perces online konzultációmat. 
        
      

      
