doctype html
html(lang="hu")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="UTF-8")
    block head
      meta(name="description" content="Actual Homepage")
      title Szénási Ágnes - pszichológus  
  body
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-K6XZCXGR", height="0", width="0", style="display:none;visibility:hidden")
    .container 
      block header
        header
          a.js-nav--item__logo.text__logo(href="/") Szénási Ágnes
          .js-nav--wrapper
            div
              nav.nav
                block nav
                  -const menu = [{ slug: '/tanacsadas', title: 'Pszichológiai tanácsadás', }, { slug: '/autogen', title: 'Autogén tréning', }, { slug: '/rolam', title: 'Hogyan segíthetek', }, { slug: '/kapcsolat', title: 'Kapcsolat | Ár', },]
                  each item, index in menu
                    a.js-nav--item.text__nav(href=item.slug, class=(index === menu.length - 1) ? 'nav--item__last' : '') #{item.title}
          .js-nav--menu 
            i.fa.fa-bars
      block hero
      block content
        main
        
      footer
        .icons--wrapper
          a(href="mailto:agi.szenasi321@gmail.com" aria-label="Email küldése Szénási Ágnesnek")
            i.icons.fa-regular.fa-envelope
          a(href="tel:+36302857034" aria-label="Szénási Ágnes hívása telefonon")
            i.icons.fa-solid.fa-phone
        .links--wrapper
          a.footer--text__link.text__small(href="/adatvedelem") Adatvédelmi Tájékoztató
          a.footer--text__link.text__small(href="/impresszum") Impresszum
        p.footer--text.text__small © 2024 Copyright Szénási Ágnes


    block scripts
      script(src="/dist/App.bundle.js")