extends layout 

include mixins/_head

block head 
  meta(name="description" content="Szénási Ágnes - SEO text here")
  title Szénási Ágnes | Hogyan segíthetek
  +head 
block content
  main
    h1 Hogyan segíthetek