extends layout 

include mixins/_head

block head 
  meta(name="description" content="Ismerj meg, Szénási Ágnesi vagyok, tapasztalt pszichológus. Tudd meg, mikor érdemes hozzám fordulnod.")
  title Szénási Ágnes | Hogyan segíthetek
  +head 
block content
  main
    .img-background
      img.img__fullwidth(src="/images/photos/wide-portrait-example.jpg", alt="Szénási Ágnes pszichológus")
    .section.article--wrapper
      article.article__detailed
        h2.title.title__center.text__brand.article__detailed--title Rólam
        .article__detailed--content
          p <span class="text__bold">Szénási Ágnes vagyok, már tanulmányaim során is az érdekelt leginkább, hogyan tudom az egyén fejlődését segíteni.</span> Szakemberként hogyan járulhatok hozzá egy olyan biztos, erős, önazonos énkép felfedezéséhez és megéléséhez, amelyből építkezve aztán a hozzám fordulók nem csak sikeresebben érhetik el az önmaguknak kitűzött célokat, de az oda vezető út során is boldogabbak, elégedettebbek lehetnek, meg tudják találni a harmóniát a mindennapokban.
          p Ezért miután megszereztem az <span class="text__bold">ELTE pszichológia</span> szakán az MA diplomát, elvégeztem a <span class="text__bold">Magyar Relaxációs és Szimbólumterápiás Egyesület</span> autogén tréningjét, illetve képeztem tovább magam a <span class="text__bold">Magyar Személyközpontú Pszichoterápiás és Tanácsadási Egyesület</span> személyközpontú tanácsadás képzésén.
          p <span class="text__bold">Immár 10 éve segítek klienseimnek megvalósítani, megélni a bennük rejlő potenciált.</span> Úgy érzem, ezzel megtaláltam azt az utamat, amit minden nap szívesen járok, azt a kihívást, amely minden nap elégedetté tesz. <span class="text__bold">Remélem, neked is segíthetek megtalálni a tiédet.</span>
        h2#mikor-fordulj-hozzam.title.title__center.text__brand.article__detailed--title Mikor fordulj hozzám?
        .article__detailed--content
          p Mind az autogén tréning, mind a tanácsadás abban segít, hogy jobban megértsd saját magadat, a cselekedeteidet, ez által tudatosabban alakítsd az életed különböző területeit, és jobban ki is tudj teljesedni bennük. 
          p Hiszek benne, hogy életünk során mindannyian kerülünk olyan helyzetekbe, amikor különösen fontos, hogy <span class="text__bold">ne csak sodródjunk az eseményekkel</span>. Ne csak azért lépjünk egy-egy útra, mert úgy gondoljuk, ezt kell tennünk, vagy mert félünk mást választani, <span class="text__bold">hanem valóban a saját akaratunkból hozzuk meg a számunkra legjobb döntéseket</span>.
          p Ez nem csak a sikereidet befolyásolja, de azt is, hogy mennyire tudsz kiteljesedni, boldog lenni a mindennapjaidban és így végső soron az életedben.
          p Nem mindegy, hogy a munkádban csak a mindennapi feladatokat akarod letudni, vagy tudatosan építesz egy <span class="text__bold">karriert</span>.
          p Nem mindegy, hogy gyermeked születése után csak próbálsz a felszínen maradni, és úgy érzed, babád ellátása is minden energiádat és idődet felemészti, vagy megtalálod magadat az új szerepeidben és a nehézségekkel együtt is meg tudod élni a <span class="text__bold">szülővé válás</span> örömeit, esélyt teremtve így egy sokkal harmonikusabb és bensőségesebb kapcsolat kialakítására gyermekeddel.
          p Nem mindegy, hogy a párkapcsolataidba úgy ugrasz bele, hogy magad sem tudod, mit keresel, és úgy zárod le őket, hogy nem tudod, mi romlott el, vagy tisztában vagy azzal, hogy mit tudsz adni és te mit vársz a partneredtől.
          p A földön élő milliónyi létforma közül az ember az egyetlen, aki a szabad akarat ajándékát kapta.
          p De a társadalmi konvenciók, az elvárások és a magunkkal hozott minták alatt <span class="text__bold">meg kell találnunk azt, ami valóban a személyiségünk egyedisége, ami igazán a saját belső törekvésünk</span>. Hiszek benne, hogy az önazonos identitáson keresztül tudunk megélni egy magasabb életminőséget, és megvalósítani a bennünk rejlő potenciált.
          p <span class="text__bold">A szabadság útján szeretném kísérni klienseimet</span>, hogy minél inkább megélhessék önmagukat, hogy viselkedésük, döntéseik saját belső szabadságukból merítkezzen. <span class="text__bold">Szívesen látlak, ha szeretnéd jobban megismerni önmagadat, ha szeretnél szabadabb lenni, fejlődni, tanulni a lelki működéseidről.</span>
        .buttons--wrapper
          a.btn.btn__primary(href="/kapcsolat") Kérj Időpontot 
          a.btn.btn__hollow(href="/") Vissza a kezdőlapra