extends layout 

include mixins/_head

block head 
  meta(name="description" content="Személyre szabott pszichológiai tanácsadást nyújtok, hogy megtaláld lelki egyensúlyodat és javítsd életminőségedet.")
  title Szénási Ágnes | Pszichológiai tanácsadás
  +head 
block content
  main
    .img-background
      img.img__fullwidth(src="/images/photos/wide-therapy-session.jpg", alt="Pszichológiai tanácsadás")
    .section.article--wrapper
      article.article__detailed
        h2.title.title__center.text__brand.article__detailed--title Mi a Pszichológiai tanácsadás célja?
        .article__detailed--content
          p A személyközpontú tanácsadás arra helyezi a hangsúlyt, hogy az egyén megismerje és elfogadja önmagát. Hogy megértsd, mi az, amit szabad akaratodból teszel, és mi az az automatizmus, amit béklyóként viszel magaddal, és nem a saját örömödre, elégedettségedre végzel. 
          p <span class="text__bold">A boldogságnak nincs egy mindenki számára egyformán működő, tévedhetetlen receptje. De minél többet megértesz magadból</span> és elkezded tudatosítani saját működésmódodat, <span class="text__bold">annál könnyebben megtalálod a saját utadat</span> a belső harmóniához és békéhez. Vagyis a tanácsadás célja megtalálni azt, ami téged személy szerint boldoggá tesz, és utat keresni ennek az eléréséhez.
        h2.title.title__center.text__brand.article__detaied--title Hogyan segíthetlek önmagad megértésében és fejlődésében?
        .article__detailed--content
          p Teljes jelenléttel és figyelmemmel fordulok klienseim felé. Hiszek a személyiség egyediségében és abban a belső törekvésben, hogy az ember szeretne fejlődni és megvalósítani, megélni a benne rejlő potenciált. Ebben tudok segíteni neked irányított kérdésekkel, az önismeret fejlesztésével, önmagad teljesebb megértésével.
        .buttons--wrapper
          a.btn.btn__primary(href="/kapcsolat.html") Kérj Időpontot 
          a.btn.btn__hollow(href="/") Vissza a kezdőlapra