extends layout 

include mixins/_head
include mixins/_head-end
block head 
  meta(name="description" content="Személyre szabott pszichológiai tanácsadást nyújtok, hogy megtaláld lelki egyensúlyodat és javítsd életminőségedet.")
  title Szénási Ágnes | Pszichológiai tanácsadás
  +head
  link(rel="preload" fetchpriority="high" as="image" href="/images/photos/wide-therapy-session.jpg" type="image/jpeg")
  +headEnd 
block content
  main
    .img-background
      img.img__fullwidth(src="/images/photos/wide-therapy-session.jpg", alt="Pszichológiai tanácsadás")
    .section.article--wrapper
      article.article__detailed
        h2.title.title__center.text__brand.article__detailed--title Mi a Pszichológiai tanácsadás célja?
        .article__detailed--content
          p A személyközpontú tanácsadás arra helyezi a hangsúlyt, hogy az egyén megismerje és elfogadja önmagát. Szakemberként szeretnék hozzájárulni egy magabiztos, önazonos énkép felfedezéséhez és megéléséhez, amelyből építkezve aztán a hozzám fordulók nem csak sikeresebben érhetik el az önmaguknak kitűzött célokat, de az oda vezető út során is boldogabbak, elégedettebbek lehetnek. 
          p <span class="text__bold">A boldogságnak nincs egy mindenki számára egyformán működő, tévedhetetlen receptje. De minél többet megértesz magadból</span> és elkezded tudatosítani saját működésmódodat, <span class="text__bold">annál könnyebben megtalálod a saját utadat</span> a belső harmóniához és békéhez. Vagyis a tanácsadás célja megtalálni azt, ami téged személy szerint boldoggá tesz, és utat keresni ennek az eléréséhez.
        h2.title.title__center.text__brand.article__detaied--title Hogyan segíthetlek önmagad megértésében és fejlődésében?
        .article__detailed--content
          p A tanácsadás során fontosnak tartom egy olyan környezet megteremtését, ahol a hozzám forduló biztonságban érezheti magát gondolatai és érzései felfedezésére és kifejezésére. 
          p Olyan kapcsolatra törekszem, amelyben a másik ember megértve és elfogadva érzi magát. Hiszek a személyiség egyediségében és abban a belső törekvésben, hogy az ember szeretne fejlődni és megvalósítani, megélni a benne rejlő potenciált. 
          p Személyközpontú szemléletben dolgozom, kognitív viselkedésterápiás, pozitív pszichológiai és relaxációs eszközökkel kiegészítve.
        .buttons--wrapper
          a.btn.btn__primary(href="/kapcsolat") Kérj Időpontot 
          a.btn.btn__hollow(href="/") Vissza a kezdőlapra