
/* Hero background and color */

.hero--main {
  background:  url('/images/photos/Mobile_woman-relaxing.jpg') no-repeat center / cover;
  background-blend-mode: multiply;
  /*background-color:   rgba(var(--brand-color-rgb), .3);*/
  min-height:         var(--hero-height);
  width:              100%;
  display:            flex;
  flex-flow:          column nowrap;
  justify-content:    space-between;
  align-items:        center;
  color:              var(--secondary-color);
  padding:            5rem 1rem calc(var(--line-height-small) + 1rem) 1rem;
}

.hero-text--wrapper {
  display:         flex;
  flex-flow:       column nowrap;
  justify-content: center;
  align-items:     center;
  width:           100%;
  gap:             1rem;
}

  .text__hero {
    width:         90%;
  }

